
.table {
  width: 90%;
  margin: auto;
  background-color: rgb(229, 253, 253);
  padding: 16px;

  
}
table{ 
  width: 90%;
  margin: auto;

}

th { 
 text-align: left;
}

td {
  border-top: 1px solid rgb(177, 171, 171);
  ;
}
.toolbar{
  width: 90%;
  margin: 0 auto;
}
.test{
 margin-bottom: 140px;
}
